.ai-name{
  font-size: 24px;
}
.ai-side{
  background: #fff;
}
.ai-menu{
  border-right: none;
}
.ai-content{
  padding: 0 24px 24px;
}
.ai-content-main{
  overflow-y: auto;
  background: #fff;
  padding: 24px;
  margin-top: 20px;
  min-height: 280px;
}


@media screen and (max-width: 414px) {
  .app-index .ai-main{
    flex-direction: column ;
  }
  .ai-side{
    flex: auto !important;
    width: auto !important;
    max-width: 100% !important;
    min-width: auto !important;
    margin: 0 24px;
  }
}